*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    background-color: #000;
    font-family: 'Roboto', sans-serif;
}

.navbar-brand{
    padding: 0px;
    margin: 0px 0px 0px 150px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.nav-link{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 0px 5px 0px 0px;
    padding: 0px 80px 0px 0px;
}

.quienessomos h1{
    font-size: 25px; 
    font-weight: 400;
    font-family: 'Roboto', sans-serif; 
}

i{
    background-color: #30A0AD;
    width: 350px;
    height: 30px;
    color: #fff;
    font-size: 22px;
}

.quienessomos p{
    color: #fff;
    font-size: 14px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    width: 350px;
    margin: 5px 0px 0px 0px;
}

h3{
    font-size: 20px;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.card{
   padding: 0px;
   margin: 0px;
}

.card-body{
    height: 180px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
}

.card-img-top{
    height: 160px;
}

#contacto{
    margin: 0px 0px 0px 60px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

footer.row{
    margin: 60px 0px 0px 0px;
    height: 110px;
    padding: 40px 0px 0px 0px;
}

.redessociales.col-6{
    padding: 0px;
}

i.fa-brands.fa-square-github{
    margin: 0px 0px 2px 80px;
    width: 12px;
}

i.fa-brands.fa-linkedin{
    margin: 0px 0px 2px 30px;
    width: 12px;
}

i.fa-brands.fa-square-twitter{
    margin: 0px 0px 2px 30px;
    width: 12px;
}

i.fa-brands.fa-square-facebook{
    margin: 0px 10px 2px 30px;
    width: 12px;
} 